.section{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__team{
        background: #F5F4FA;
        max-width: 1600px;
        margin: 0 auto;
    }
}

.section-work{
    display: none;

    @media screen and (min-width:1200px) {
        display: block;
        padding-top: 0;
        padding-bottom: 94px;
    }
}

.section-title{
    margin-top: 0;
    margin-bottom: 24px;
}

